name: CI

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - 'master'

jobs:
  test:
    name: Node.js v${{ matrix.nodejs }} (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    timeout-minutes: 3
    strategy:
      matrix:
        nodejs: [12, 14, 16.11, 16]
        os: [ubuntu-latest, windows-latest]
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.nodejs }}

    - name: Install
      run: npm install

    - name: Compiles
      run: npm run build

    - name: Type Checks
      run: npm run types

    - name: Tests <~ ESM
      run: node --loader ./loader.mjs test/index.mjs

    - name: Tests <~ ESM <~ TypeScript
      run: node --loader ./loader.mjs test/config/index.ts --tsmconfig test/config/tsm.js

    - name: Tests <~ CommonJS
      run: node -r ./require.js test/index.js

    - name: Tests <~ CommonJS <~ TypeScript
      run: node -r ./require.js test/config/index.ts --tsmconfig test/config/tsm.js

    - name: Tests <~ CLI
      run: node bin.js test/index.mjs

    - name: Tests <~ CLI <~ TypeScript
      run: node bin.js test/config/index.ts --tsmconfig test/config/tsm.js
